<?xml version="1.0"?>
<config>
  <modules>
    <Masterajib_Cron>
      <version>0.1.0</version>
    </Masterajib_Cron>
  </modules>
  <crontab>
    <jobs>
      <custom_cron_task>
        <schedule>
          <cron_expr>*/5 * * * *</cron_expr>
        </schedule>
        <run>
          <model>cron/cron::crontask</model>
        </run>
      </custom_cron_task>
    </jobs>
  </crontab>
  <global>
    <models>
      <cron>
       <class>Masterajib_Cron_Model</class>
      </cron>
    </models>
  </global>
</config>
