<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Searchextensions>
            <version>0.1.0</version>
        </Masterajib_Searchextensions>
    </modules>
    <frontend>
        <routers>
            <searchextensions>
                <use>standard</use>
                <args>
                    <module>Masterajib_Searchextensions</module>
                    <frontName>searchextensions</frontName>
                </args>
            </searchextensions>
        </routers>
        <layout>
            <updates>
                <searchextensions>
                    <file>searchextensions.xml</file>
                </searchextensions>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<searchextensions>
				<use>admin</use>
				<args>
					<module>Masterajib_Searchextensions</module>
					<frontName>searchextensions</frontName>
				</args>
			</searchextensions>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<searchextensions module="searchextensions">
				<title>Searchextensions</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="searchextensions">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>searchextensions/adminhtml_searchextensions</action>
					</items>
				</children>
			</searchextensions>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Searchextensions>
							<title>Searchextensions Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Searchextensions>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<searchextensions>
					<file>searchextensions.xml</file>
				</searchextensions>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <searchextensions>
                <class>Masterajib_Searchextensions_Model</class>
                <resourceModel>searchextensions_mysql4</resourceModel>
            </searchextensions>
            <searchextensions_mysql4>
                <class>Masterajib_Searchextensions_Model_Mysql4</class>
                <entities>
                    <searchextensions>
                        <table>searchextensions</table>
                    </searchextensions>
                </entities>
            </searchextensions_mysql4>
        </models>
        <resources>
            <searchextensions_setup>
                <setup>
                    <module>Masterajib_Searchextensions</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </searchextensions_setup>
            <searchextensions_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </searchextensions_write>
            <searchextensions_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </searchextensions_read>
        </resources>
        <blocks>
            <searchextensions>
                <class>Masterajib_Searchextensions_Block</class>
            </searchextensions>
        </blocks>
        <helpers>
            <searchextensions>
                <class>Masterajib_Searchextensions_Helper</class>
            </searchextensions>
        </helpers>
    </global>
</config>