<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Admanagement>
            <version>0.1.0</version>
        </Masterajib_Admanagement>
    </modules>
    <frontend>
        <routers>
            <admanagement>
                <use>standard</use>
                <args>
                    <module>Masterajib_Admanagement</module>
                    <frontName>admanagement</frontName>
                </args>
            </admanagement>
        </routers>
        <layout>
            <updates>
                <admanagement>
                    <file>admanagement.xml</file>
                </admanagement>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<admanagement>
				<use>admin</use>
				<args>
					<module>Masterajib_Admanagement</module>
					<frontName>admanagement</frontName>
				</args>
			</admanagement>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<admanagement module="admanagement">
				<title>Admanagement</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="admanagement">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>admanagement/adminhtml_admanagement</action>
					</items>
				</children>
			</admanagement>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Admanagement>
							<title>Admanagement Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Admanagement>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<admanagement>
					<file>admanagement.xml</file>
				</admanagement>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <admanagement>
                <class>Masterajib_Admanagement_Model</class>
                <resourceModel>admanagement_mysql4</resourceModel>
            </admanagement>
            <admanagement_mysql4>
                <class>Masterajib_Admanagement_Model_Mysql4</class>
                <entities>
                    <admanagement>
                        <table>admanagement</table>
                    </admanagement>
                </entities>
            </admanagement_mysql4>
        </models>
        <resources>
            <admanagement_setup>
                <setup>
                    <module>Masterajib_Admanagement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </admanagement_setup>
            <admanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </admanagement_write>
            <admanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </admanagement_read>
        </resources>
        <blocks>
            <admanagement>
                <class>Masterajib_Admanagement_Block</class>
            </admanagement>
        </blocks>
        <helpers>
            <admanagement>
                <class>Masterajib_Admanagement_Helper</class>
            </admanagement>
        </helpers>
    </global>
</config>