<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Websiteaudit>
            <version>0.1.0</version>
        </Masterajib_Websiteaudit>
    </modules>
    <frontend>
        <routers>
            <websiteaudit>
                <use>standard</use>
                <args>
                    <module>Masterajib_Websiteaudit</module>
                    <frontName>websiteaudit</frontName>
                </args>
            </websiteaudit>
        </routers>
        <layout>
            <updates>
                <websiteaudit>
                    <file>websiteaudit.xml</file>
                </websiteaudit>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<websiteaudit>
				<use>admin</use>
				<args>
					<module>Masterajib_Websiteaudit</module>
					<frontName>websiteaudit</frontName>
				</args>
			</websiteaudit>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<websiteaudit module="websiteaudit">
				<title>Websiteaudit</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="websiteaudit">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>websiteaudit/adminhtml_websiteaudit</action>
					</items>
				</children>
			</websiteaudit>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Websiteaudit>
							<title>Websiteaudit Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Websiteaudit>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<websiteaudit>
					<file>websiteaudit.xml</file>
				</websiteaudit>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <websiteaudit>
                <class>Masterajib_Websiteaudit_Model</class>
                <resourceModel>websiteaudit_mysql4</resourceModel>
            </websiteaudit>
            <websiteaudit_mysql4>
                <class>Masterajib_Websiteaudit_Model_Mysql4</class>
                <entities>
                    <websiteaudit>
                        <table>websiteaudit</table>
                    </websiteaudit>
                </entities>
            </websiteaudit_mysql4>
        </models>
        <resources>
            <websiteaudit_setup>
                <setup>
                    <module>Masterajib_Websiteaudit</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </websiteaudit_setup>
            <websiteaudit_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </websiteaudit_write>
            <websiteaudit_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </websiteaudit_read>
        </resources>
        <blocks>
            <websiteaudit>
                <class>Masterajib_Websiteaudit_Block</class>
            </websiteaudit>
        </blocks>
        <helpers>
            <websiteaudit>
                <class>Masterajib_Websiteaudit_Helper</class>
            </websiteaudit>
        </helpers>
    </global>
</config>