<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Emojis>
            <version>0.1.0</version>
        </Masterajib_Emojis>
    </modules>
    <frontend>
        <routers>
            <emojis>
                <use>standard</use>
                <args>
                    <module>Masterajib_Emojis</module>
                    <frontName>emojis</frontName>
                </args>
            </emojis>
        </routers>
        <layout>
            <updates>
                <emojis>
                    <file>emojis.xml</file>
                </emojis>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<emojis>
				<use>admin</use>
				<args>
					<module>Masterajib_Emojis</module>
					<frontName>emojis</frontName>
				</args>
			</emojis>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<emojis module="emojis">
				<title>Emojis</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="emojis">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>emojis/adminhtml_emojis</action>
					</items>
				</children>
			</emojis>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Emojis>
							<title>Emojis Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Emojis>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<emojis>
					<file>emojis.xml</file>
				</emojis>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <emojis>
                <class>Masterajib_Emojis_Model</class>
                <resourceModel>emojis_mysql4</resourceModel>
            </emojis>
            <emojis_mysql4>
                <class>Masterajib_Emojis_Model_Mysql4</class>
                <entities>
                    <emojis>
                        <table>emojis</table>
                    </emojis>
                </entities>
            </emojis_mysql4>
        </models>
        <resources>
            <emojis_setup>
                <setup>
                    <module>Masterajib_Emojis</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emojis_setup>
            <emojis_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emojis_write>
            <emojis_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emojis_read>
        </resources>
        <blocks>
            <emojis>
                <class>Masterajib_Emojis_Block</class>
            </emojis>
        </blocks>
        <helpers>
            <emojis>
                <class>Masterajib_Emojis_Helper</class>
            </emojis>
        </helpers>
    </global>
</config>