<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Linkdetails>
            <version>0.1.0</version>
        </Masterajib_Linkdetails>
    </modules>   
    <global>
        <models>
            <linkdetails>
                <class>Masterajib_Linkdetails_Model</class>
                <resourceModel>linkdetails_mysql4</resourceModel>
            </linkdetails>
            <linkdetails_mysql4>
                <class>Masterajib_Linkdetails_Model_Mysql4</class>
                <entities>
                    <linkdetails>
                        <table>linkdetails</table>
                    </linkdetails>
                </entities>
            </linkdetails_mysql4>
        </models>
        <resources>
            <linkdetails_setup>
                <setup>
                    <module>Masterajib_Linkdetails</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </linkdetails_setup>
            <linkdetails_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </linkdetails_write>
            <linkdetails_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </linkdetails_read>
        </resources>
    </global>
</config>