<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Sma>
            <version>0.1.0</version>
        </Masterajib_Sma>
    </modules>
    <frontend>
        <routers>
            <sma>
                <use>standard</use>
                <args>
                    <module>Masterajib_Sma</module>
                    <frontName>sma</frontName>
                </args>
            </sma>
        </routers>
        <layout>
            <updates>
                <sma>
                    <file>sma.xml</file>
                </sma>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<sma>
				<use>admin</use>
				<args>
					<module>Masterajib_Sma</module>
					<frontName>sma</frontName>
				</args>
			</sma>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<sma module="sma">
				<title>Sma</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="sma">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>sma/adminhtml_sma</action>
					</items>
				</children>
			</sma>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Sma>
							<title>Sma Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Sma>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<sma>
					<file>sma.xml</file>
				</sma>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <sma>
                <class>Masterajib_Sma_Model</class>
                <resourceModel>sma_mysql4</resourceModel>
            </sma>
            <sma_mysql4>
                <class>Masterajib_Sma_Model_Mysql4</class>
                <entities>
                    <sma>
                        <table>sma</table>
                    </sma>
                </entities>
            </sma_mysql4>
        </models>
        <resources>
            <sma_setup>
                <setup>
                    <module>Masterajib_Sma</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </sma_setup>
            <sma_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </sma_write>
            <sma_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </sma_read>
        </resources>
        <blocks>
            <sma>
                <class>Masterajib_Sma_Block</class>
            </sma>
        </blocks>
        <helpers>
            <sma>
                <class>Masterajib_Sma_Helper</class>
            </sma>
        </helpers>
    </global>
</config>