<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Quiz>
            <version>0.1.0</version>
        </Masterajib_Quiz>
    </modules>
    <frontend>
        <routers>
            <quiz>
                <use>standard</use>
                <args>
                    <module>Masterajib_Quiz</module>
                    <frontName>quiz</frontName>
                </args>
            </quiz>
        </routers>
        <layout>
            <updates>
                <quiz>
                    <file>quiz.xml</file>
                </quiz>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<quiz>
				<use>admin</use>
				<args>
					<module>Masterajib_Quiz</module>
					<frontName>quiz</frontName>
				</args>
			</quiz>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<quiz module="quiz">
				<title>Quiz</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="quiz">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>quiz/adminhtml_quiz</action>
					</items>
				</children>
			</quiz>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Quiz>
							<title>Quiz Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Quiz>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<quiz>
					<file>quiz.xml</file>
				</quiz>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <quiz>
                <class>Masterajib_Quiz_Model</class>
                <resourceModel>quiz_mysql4</resourceModel>
            </quiz>
            <quiz_mysql4>
                <class>Masterajib_Quiz_Model_Mysql4</class>
                <entities>
                    <quiz>
                        <table>quiz</table>
                    </quiz>
                </entities>
            </quiz_mysql4>
        </models>
        <resources>
            <quiz_setup>
                <setup>
                    <module>Masterajib_Quiz</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </quiz_setup>
            <quiz_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </quiz_write>
            <quiz_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </quiz_read>
        </resources>
        <blocks>
            <quiz>
                <class>Masterajib_Quiz_Block</class>
            </quiz>
        </blocks>
        <helpers>
            <quiz>
                <class>Masterajib_Quiz_Helper</class>
            </quiz>
        </helpers>
    </global>
</config>