<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Keywordmanager>
            <version>0.1.0</version>
        </Masterajib_Keywordmanager>
    </modules>
    <frontend>
        <routers>
            <keywordmanager>
                <use>standard</use>
                <args>
                    <module>Masterajib_Keywordmanager</module>
                    <frontName>keywordmanager</frontName>
                </args>
            </keywordmanager>
        </routers>
        <layout>
            <updates>
                <keywordmanager>
                    <file>keywordmanager.xml</file>
                </keywordmanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<keywordmanager>
				<use>admin</use>
				<args>
					<module>Masterajib_Keywordmanager</module>
					<frontName>keywordmanager</frontName>
				</args>
			</keywordmanager>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<keywordmanager module="keywordmanager">
				<title>Keywordmanager</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="keywordmanager">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>keywordmanager/adminhtml_keywordmanager</action>
					</items>
				</children>
			</keywordmanager>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Keywordmanager>
							<title>Keywordmanager Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Keywordmanager>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<keywordmanager>
					<file>keywordmanager.xml</file>
				</keywordmanager>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <keywordmanager>
                <class>Masterajib_Keywordmanager_Model</class>
                <resourceModel>keywordmanager_mysql4</resourceModel>
            </keywordmanager>
            <keywordmanager_mysql4>
                <class>Masterajib_Keywordmanager_Model_Mysql4</class>
                <entities>
                    <keywordmanager>
                        <table>keywordmanager</table>
                    </keywordmanager>
                </entities>
            </keywordmanager_mysql4>
        </models>
        <resources>
            <keywordmanager_setup>
                <setup>
                    <module>Masterajib_Keywordmanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </keywordmanager_setup>
            <keywordmanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </keywordmanager_write>
            <keywordmanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </keywordmanager_read>
        </resources>
        <blocks>
            <keywordmanager>
                <class>Masterajib_Keywordmanager_Block</class>
            </keywordmanager>
        </blocks>
        <helpers>
            <keywordmanager>
                <class>Masterajib_Keywordmanager_Helper</class>
            </keywordmanager>
        </helpers>
    </global>
</config>