<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Schedulepost>
            <version>0.1.0</version>
        </Masterajib_Schedulepost>
    </modules>
    <frontend>
        <routers>
            <schedulepost>
                <use>standard</use>
                <args>
                    <module>Masterajib_Schedulepost</module>
                    <frontName>schedulepost</frontName>
                </args>
            </schedulepost>
        </routers>
        <layout>
            <updates>
                <schedulepost>
                    <file>schedulepost.xml</file>
                </schedulepost>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<schedulepost>
				<use>admin</use>
				<args>
					<module>Masterajib_Schedulepost</module>
					<frontName>schedulepost</frontName>
				</args>
			</schedulepost>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<schedulepost module="schedulepost">
				<title>Schedulepost</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="schedulepost">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>schedulepost/adminhtml_schedulepost</action>
					</items>
				</children>
			</schedulepost>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Schedulepost>
							<title>Schedulepost Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Schedulepost>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<schedulepost>
					<file>schedulepost.xml</file>
				</schedulepost>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <schedulepost>
                <class>Masterajib_Schedulepost_Model</class>
                <resourceModel>schedulepost_mysql4</resourceModel>
            </schedulepost>
            <schedulepost_mysql4>
                <class>Masterajib_Schedulepost_Model_Mysql4</class>
                <entities>
                    <schedulepost>
                        <table>schedulepost</table>
                    </schedulepost>
                </entities>
            </schedulepost_mysql4>
        </models>
        <resources>
            <schedulepost_setup>
                <setup>
                    <module>Masterajib_Schedulepost</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </schedulepost_setup>
            <schedulepost_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </schedulepost_write>
            <schedulepost_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </schedulepost_read>
        </resources>
        <blocks>
            <schedulepost>
                <class>Masterajib_Schedulepost_Block</class>
            </schedulepost>
        </blocks>
        <helpers>
            <schedulepost>
                <class>Masterajib_Schedulepost_Helper</class>
            </schedulepost>
        </helpers>
    </global>
</config>