<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Graph>
            <version>0.1.0</version>
        </Masterajib_Graph>
    </modules>
    <frontend>
        <routers>
            <graph>
                <use>standard</use>
                <args>
                    <module>Masterajib_Graph</module>
                    <frontName>graph</frontName>
                </args>
            </graph>
        </routers>
        <layout>
            <updates>
                <graph>
                    <file>graph.xml</file>
                </graph>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<graph>
				<use>admin</use>
				<args>
					<module>Masterajib_Graph</module>
					<frontName>graph</frontName>
				</args>
			</graph>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<graph module="graph">
				<title>Graph</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="graph">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>graph/adminhtml_graph</action>
					</items>
				</children>
			</graph>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Graph>
							<title>Graph Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Graph>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<graph>
					<file>graph.xml</file>
				</graph>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <graph>
                <class>Masterajib_Graph_Model</class>
                <resourceModel>graph_mysql4</resourceModel>
            </graph>
            <graph_mysql4>
                <class>Masterajib_Graph_Model_Mysql4</class>
                <entities>
                    <graph>
                        <table>graph</table>
                    </graph>
                </entities>
            </graph_mysql4>
        </models>
        <resources>
            <graph_setup>
                <setup>
                    <module>Masterajib_Graph</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </graph_setup>
            <graph_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </graph_write>
            <graph_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </graph_read>
        </resources>
        <blocks>
            <graph>
                <class>Masterajib_Graph_Block</class>
            </graph>
        </blocks>
        <helpers>
            <graph>
                <class>Masterajib_Graph_Helper</class>
            </graph>
        </helpers>
    </global>
</config>