<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Bulkposting>
            <version>0.1.0</version>
        </Masterajib_Bulkposting>
    </modules>
    <frontend>
        <routers>
            <bulkposting>
                <use>standard</use>
                <args>
                    <module>Masterajib_Bulkposting</module>
                    <frontName>bulkposting</frontName>
                </args>
            </bulkposting>
        </routers>
        <layout>
            <updates>
                <bulkposting>
                    <file>bulkposting.xml</file>
                </bulkposting>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<bulkposting>
				<use>admin</use>
				<args>
					<module>Masterajib_Bulkposting</module>
					<frontName>bulkposting</frontName>
				</args>
			</bulkposting>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<bulkposting module="bulkposting">
				<title>Bulkposting</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="bulkposting">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>bulkposting/adminhtml_bulkposting</action>
					</items>
				</children>
			</bulkposting>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Bulkposting>
							<title>Bulkposting Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Bulkposting>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<bulkposting>
					<file>bulkposting.xml</file>
				</bulkposting>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <bulkposting>
                <class>Masterajib_Bulkposting_Model</class>
                <resourceModel>bulkposting_mysql4</resourceModel>
            </bulkposting>
            <bulkposting_mysql4>
                <class>Masterajib_Bulkposting_Model_Mysql4</class>
                <entities>
                    <bulkposting>
                        <table>bulkposting</table>
                    </bulkposting>
                </entities>
            </bulkposting_mysql4>
        </models>
        <resources>
            <bulkposting_setup>
                <setup>
                    <module>Masterajib_Bulkposting</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </bulkposting_setup>
            <bulkposting_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </bulkposting_write>
            <bulkposting_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </bulkposting_read>
        </resources>
        <blocks>
            <bulkposting>
                <class>Masterajib_Bulkposting_Block</class>
            </bulkposting>
        </blocks>
        <helpers>
            <bulkposting>
                <class>Masterajib_Bulkposting_Helper</class>
            </bulkposting>
        </helpers>
    </global>
</config>