<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Influencer>
            <version>0.1.0</version>
        </Masterajib_Influencer>
    </modules>
    <frontend>
        <routers>
            <influencer>
                <use>standard</use>
                <args>
                    <module>Masterajib_Influencer</module>
                    <frontName>influencer</frontName>
                </args>
            </influencer>
        </routers>
        <layout>
            <updates>
                <influencer>
                    <file>influencer.xml</file>
                </influencer>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<influencer>
				<use>admin</use>
				<args>
					<module>Masterajib_Influencer</module>
					<frontName>influencer</frontName>
				</args>
			</influencer>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<influencer module="influencer">
				<title>Influencer</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="influencer">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>influencer/adminhtml_influencer</action>
					</items>
				</children>
			</influencer>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Influencer>
							<title>Influencer Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Influencer>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<influencer>
					<file>influencer.xml</file>
				</influencer>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <influencer>
                <class>Masterajib_Influencer_Model</class>
                <resourceModel>influencer_mysql4</resourceModel>
            </influencer>
            <influencer_mysql4>
                <class>Masterajib_Influencer_Model_Mysql4</class>
                <entities>
                    <influencer>
                        <table>influencer</table>
                    </influencer>
                </entities>
            </influencer_mysql4>
        </models>
        <resources>
            <influencer_setup>
                <setup>
                    <module>Masterajib_Influencer</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </influencer_setup>
            <influencer_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </influencer_write>
            <influencer_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </influencer_read>
        </resources>
        <blocks>
            <influencer>
                <class>Masterajib_Influencer_Block</class>
            </influencer>
        </blocks>
        <helpers>
            <influencer>
                <class>Masterajib_Influencer_Helper</class>
            </influencer>
        </helpers>
    </global>
</config>