<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Pagebuilder>
            <version>0.1.0</version>
        </Masterajib_Pagebuilder>
    </modules>
    <frontend>
        <routers>
            <pagebuilder>
                <use>standard</use>
                <args>
                    <module>Masterajib_Pagebuilder</module>
                    <frontName>pagebuilder</frontName>
                </args>
            </pagebuilder>
        </routers>
        <layout>
            <updates>
                <pagebuilder>
                    <file>pagebuilder.xml</file>
                </pagebuilder>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<pagebuilder>
				<use>admin</use>
				<args>
					<module>Masterajib_Pagebuilder</module>
					<frontName>pagebuilder</frontName>
				</args>
			</pagebuilder>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<pagebuilder module="pagebuilder">
				<title>Pagebuilder</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="pagebuilder">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>pagebuilder/adminhtml_pagebuilder</action>
					</items>
				</children>
			</pagebuilder>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Pagebuilder>
							<title>Pagebuilder Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Pagebuilder>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<pagebuilder>
					<file>pagebuilder.xml</file>
				</pagebuilder>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <pagebuilder>
                <class>Masterajib_Pagebuilder_Model</class>
                <resourceModel>pagebuilder_mysql4</resourceModel>
            </pagebuilder>
            <pagebuilder_mysql4>
                <class>Masterajib_Pagebuilder_Model_Mysql4</class>
                <entities>
                    <pagebuilder>
                        <table>pagebuilder</table>
                    </pagebuilder>
                </entities>
            </pagebuilder_mysql4>
        </models>
        <resources>
            <pagebuilder_setup>
                <setup>
                    <module>Masterajib_Pagebuilder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagebuilder_setup>
            <pagebuilder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </pagebuilder_write>
            <pagebuilder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </pagebuilder_read>
        </resources>
        <blocks>
            <pagebuilder>
                <class>Masterajib_Pagebuilder_Block</class>
            </pagebuilder>
        </blocks>
        <helpers>
            <pagebuilder>
                <class>Masterajib_Pagebuilder_Helper</class>
            </pagebuilder>
        </helpers>
    </global>
</config>