<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Caption>
            <version>0.1.0</version>
        </Masterajib_Caption>
    </modules>
    <frontend>
        <routers>
            <caption>
                <use>standard</use>
                <args>
                    <module>Masterajib_Caption</module>
                    <frontName>caption</frontName>
                </args>
            </caption>
        </routers>
        <layout>
            <updates>
                <caption>
                    <file>caption.xml</file>
                </caption>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<caption>
				<use>admin</use>
				<args>
					<module>Masterajib_Caption</module>
					<frontName>caption</frontName>
				</args>
			</caption>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<caption module="caption">
				<title>Caption</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="caption">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>caption/adminhtml_caption</action>
					</items>
				</children>
			</caption>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Caption>
							<title>Caption Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Caption>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<caption>
					<file>caption.xml</file>
				</caption>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <caption>
                <class>Masterajib_Caption_Model</class>
                <resourceModel>caption_mysql4</resourceModel>
            </caption>
            <caption_mysql4>
                <class>Masterajib_Caption_Model_Mysql4</class>
                <entities>
                    <caption>
                        <table>caption</table>
                    </caption>
                </entities>
            </caption_mysql4>
        </models>
        <resources>
            <caption_setup>
                <setup>
                    <module>Masterajib_Caption</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </caption_setup>
            <caption_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </caption_write>
            <caption_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </caption_read>
        </resources>
        <blocks>
            <caption>
                <class>Masterajib_Caption_Block</class>
            </caption>
        </blocks>
        <helpers>
            <caption>
                <class>Masterajib_Caption_Helper</class>
            </caption>
        </helpers>
    </global>
</config>