<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Codebazzar>
            <version>0.1.0</version>
        </Masterajib_Codebazzar>
    </modules>
    <frontend>
        <routers>
            <codebazzar>
                <use>standard</use>
                <args>
                    <module>Masterajib_Codebazzar</module>
                    <frontName>codebazzar</frontName>
                </args>
            </codebazzar>
        </routers>
        <layout>
            <updates>
                <codebazzar>
                    <file>codebazzar.xml</file>
                </codebazzar>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<codebazzar>
				<use>admin</use>
				<args>
					<module>Masterajib_Codebazzar</module>
					<frontName>codebazzar</frontName>
				</args>
			</codebazzar>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<codebazzar module="codebazzar">
				<title>Codebazzar</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="codebazzar">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>codebazzar/adminhtml_codebazzar</action>
					</items>
				</children>
			</codebazzar>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Codebazzar>
							<title>Codebazzar Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Codebazzar>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<codebazzar>
					<file>codebazzar.xml</file>
				</codebazzar>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <codebazzar>
                <class>Masterajib_Codebazzar_Model</class>
                <resourceModel>codebazzar_mysql4</resourceModel>
            </codebazzar>
            <codebazzar_mysql4>
                <class>Masterajib_Codebazzar_Model_Mysql4</class>
                <entities>
                    <codebazzar>
                        <table>codebazzar</table>
                    </codebazzar>
                </entities>
            </codebazzar_mysql4>
        </models>
        <resources>
            <codebazzar_setup>
                <setup>
                    <module>Masterajib_Codebazzar</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </codebazzar_setup>
            <codebazzar_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </codebazzar_write>
            <codebazzar_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </codebazzar_read>
        </resources>
        <blocks>
            <codebazzar>
                <class>Masterajib_Codebazzar_Block</class>
            </codebazzar>
        </blocks>
        <helpers>
            <codebazzar>
                <class>Masterajib_Codebazzar_Helper</class>
            </codebazzar>
        </helpers>
    </global>
</config>