<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Keywords>
            <version>0.1.0</version>
        </Masterajib_Keywords>
    </modules>
    <frontend>
        <routers>
            <keywords>
                <use>standard</use>
                <args>
                    <module>Masterajib_Keywords</module>
                    <frontName>keywords</frontName>
                </args>
            </keywords>
        </routers>
        <layout>
            <updates>
                <keywords>
                    <file>keywords.xml</file>
                </keywords>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<keywords>
				<use>admin</use>
				<args>
					<module>Masterajib_Keywords</module>
					<frontName>keywords</frontName>
				</args>
			</keywords>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<keywords module="keywords">
				<title>Keywords</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="keywords">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>keywords/adminhtml_keywords</action>
					</items>
				</children>
			</keywords>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Keywords>
							<title>Keywords Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Keywords>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<keywords>
					<file>keywords.xml</file>
				</keywords>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <keywords>
                <class>Masterajib_Keywords_Model</class>
                <resourceModel>keywords_mysql4</resourceModel>
            </keywords>
            <keywords_mysql4>
                <class>Masterajib_Keywords_Model_Mysql4</class>
                <entities>
                    <keywords>
                        <table>keywords</table>
                    </keywords>
                </entities>
            </keywords_mysql4>
        </models>
        <resources>
            <keywords_setup>
                <setup>
                    <module>Masterajib_Keywords</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </keywords_setup>
            <keywords_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </keywords_write>
            <keywords_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </keywords_read>
        </resources>
        <blocks>
            <keywords>
                <class>Masterajib_Keywords_Block</class>
            </keywords>
        </blocks>
        <helpers>
            <keywords>
                <class>Masterajib_Keywords_Helper</class>
            </keywords>
        </helpers>
    </global>
</config>