<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Filemanager>
            <version>0.1.0</version>
        </Masterajib_Filemanager>
    </modules>
    <frontend>
        <routers>
            <filemanager>
                <use>standard</use>
                <args>
                    <module>Masterajib_Filemanager</module>
                    <frontName>filemanager</frontName>
                </args>
            </filemanager>
        </routers>
        <layout>
            <updates>
                <filemanager>
                    <file>filemanager.xml</file>
                </filemanager>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<filemanager>
				<use>admin</use>
				<args>
					<module>Masterajib_Filemanager</module>
					<frontName>filemanager</frontName>
				</args>
			</filemanager>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<filemanager module="filemanager">
				<title>Filemanager</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="filemanager">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>filemanager/adminhtml_filemanager</action>
					</items>
				</children>
			</filemanager>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Filemanager>
							<title>Filemanager Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Filemanager>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<filemanager>
					<file>filemanager.xml</file>
				</filemanager>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <filemanager>
                <class>Masterajib_Filemanager_Model</class>
                <resourceModel>filemanager_mysql4</resourceModel>
            </filemanager>
            <filemanager_mysql4>
                <class>Masterajib_Filemanager_Model_Mysql4</class>
                <entities>
                    <filemanager>
                        <table>filemanager</table>
                    </filemanager>
                </entities>
            </filemanager_mysql4>
        </models>
        <resources>
            <filemanager_setup>
                <setup>
                    <module>Masterajib_Filemanager</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </filemanager_setup>
            <filemanager_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </filemanager_write>
            <filemanager_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </filemanager_read>
        </resources>
        <blocks>
            <filemanager>
                <class>Masterajib_Filemanager_Block</class>
            </filemanager>
        </blocks>
        <helpers>
            <filemanager>
                <class>Masterajib_Filemanager_Helper</class>
            </filemanager>
        </helpers>
    </global>
</config>