<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Emailmarketing>
            <version>0.1.0</version>
        </Masterajib_Emailmarketing>
    </modules>
    <frontend>
        <routers>
            <emailmarketing>
                <use>standard</use>
                <args>
                    <module>Masterajib_Emailmarketing</module>
                    <frontName>emailmarketing</frontName>
                </args>
            </emailmarketing>
        </routers>
        <layout>
            <updates>
                <emailmarketing>
                    <file>emailmarketing.xml</file>
                </emailmarketing>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<emailmarketing>
				<use>admin</use>
				<args>
					<module>Masterajib_Emailmarketing</module>
					<frontName>emailmarketing</frontName>
				</args>
			</emailmarketing>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<emailmarketing module="emailmarketing">
				<title>Emailmarketing</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="emailmarketing">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>emailmarketing/adminhtml_emailmarketing</action>
					</items>
				</children>
			</emailmarketing>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Emailmarketing>
							<title>Emailmarketing Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Emailmarketing>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<emailmarketing>
					<file>emailmarketing.xml</file>
				</emailmarketing>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <emailmarketing>
                <class>Masterajib_Emailmarketing_Model</class>
                <resourceModel>emailmarketing_mysql4</resourceModel>
            </emailmarketing>
            <emailmarketing_mysql4>
                <class>Masterajib_Emailmarketing_Model_Mysql4</class>
                <entities>
                    <emailmarketing>
                        <table>emailmarketing</table>
                    </emailmarketing>
                </entities>
            </emailmarketing_mysql4>
        </models>
        <resources>
            <emailmarketing_setup>
                <setup>
                    <module>Masterajib_Emailmarketing</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </emailmarketing_setup>
            <emailmarketing_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </emailmarketing_write>
            <emailmarketing_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </emailmarketing_read>
        </resources>
        <blocks>
            <emailmarketing>
                <class>Masterajib_Emailmarketing_Block</class>
            </emailmarketing>
        </blocks>
        <helpers>
            <emailmarketing>
                <class>Masterajib_Emailmarketing_Helper</class>
            </emailmarketing>
        </helpers>
    </global>
</config>