<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Smallseotools>
            <version>0.1.0</version>
        </Masterajib_Smallseotools>
    </modules>
    <frontend>
        <routers>
            <smallseotools>
                <use>standard</use>
                <args>
                    <module>Masterajib_Smallseotools</module>
                    <frontName>smallseotools</frontName>
                </args>
            </smallseotools>
        </routers>
        <layout>
            <updates>
                <smallseotools>
                    <file>smallseotools.xml</file>
                </smallseotools>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<smallseotools>
				<use>admin</use>
				<args>
					<module>Masterajib_Smallseotools</module>
					<frontName>smallseotools</frontName>
				</args>
			</smallseotools>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<smallseotools module="smallseotools">
				<title>Smallseotools</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="smallseotools">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>smallseotools/adminhtml_smallseotools</action>
					</items>
				</children>
			</smallseotools>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Smallseotools>
							<title>Smallseotools Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Smallseotools>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<smallseotools>
					<file>smallseotools.xml</file>
				</smallseotools>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <smallseotools>
                <class>Masterajib_Smallseotools_Model</class>
                <resourceModel>smallseotools_mysql4</resourceModel>
            </smallseotools>
            <smallseotools_mysql4>
                <class>Masterajib_Smallseotools_Model_Mysql4</class>
                <entities>
                    <smallseotools>
                        <table>smallseotools</table>
                    </smallseotools>
                </entities>
            </smallseotools_mysql4>
        </models>
        <resources>
            <smallseotools_setup>
                <setup>
                    <module>Masterajib_Smallseotools</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </smallseotools_setup>
            <smallseotools_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </smallseotools_write>
            <smallseotools_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </smallseotools_read>
        </resources>
        <blocks>
            <smallseotools>
                <class>Masterajib_Smallseotools_Block</class>
            </smallseotools>
        </blocks>
        <helpers>
            <smallseotools>
                <class>Masterajib_Smallseotools_Helper</class>
            </smallseotools>
        </helpers>
    </global>
</config>