<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Servicemanagement>
            <version>0.1.0</version>
        </Masterajib_Servicemanagement>
    </modules>
    <frontend>
        <routers>
            <servicemanagement>
                <use>standard</use>
                <args>
                    <module>Masterajib_Servicemanagement</module>
                    <frontName>servicemanagement</frontName>
                </args>
            </servicemanagement>
        </routers>
        <layout>
            <updates>
                <servicemanagement>
                    <file>servicemanagement.xml</file>
                </servicemanagement>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<servicemanagement>
				<use>admin</use>
				<args>
					<module>Masterajib_Servicemanagement</module>
					<frontName>servicemanagement</frontName>
				</args>
			</servicemanagement>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<servicemanagement module="servicemanagement">
				<title>Servicemanagement</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="servicemanagement">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>servicemanagement/adminhtml_servicemanagement</action>
					</items>
				</children>
			</servicemanagement>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Servicemanagement>
							<title>Servicemanagement Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Servicemanagement>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<servicemanagement>
					<file>servicemanagement.xml</file>
				</servicemanagement>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <servicemanagement>
                <class>Masterajib_Servicemanagement_Model</class>
                <resourceModel>servicemanagement_mysql4</resourceModel>
            </servicemanagement>
            <servicemanagement_mysql4>
                <class>Masterajib_Servicemanagement_Model_Mysql4</class>
                <entities>
                    <servicemanagement>
                        <table>servicemanagement</table>
                    </servicemanagement>
                </entities>
            </servicemanagement_mysql4>
        </models>
        <resources>
            <servicemanagement_setup>
                <setup>
                    <module>Masterajib_Servicemanagement</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </servicemanagement_setup>
            <servicemanagement_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </servicemanagement_write>
            <servicemanagement_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </servicemanagement_read>
        </resources>
        <blocks>
            <servicemanagement>
                <class>Masterajib_Servicemanagement_Block</class>
            </servicemanagement>
        </blocks>
        <helpers>
            <servicemanagement>
                <class>Masterajib_Servicemanagement_Helper</class>
            </servicemanagement>
        </helpers>
    </global>
</config>