<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Influencerusers>
            <version>0.1.0</version>
        </Masterajib_Influencerusers>
    </modules>
    <frontend>
        <routers>
            <influencerusers>
                <use>standard</use>
                <args>
                    <module>Masterajib_Influencerusers</module>
                    <frontName>influencerusers</frontName>
                </args>
            </influencerusers>
        </routers>
        <layout>
            <updates>
                <influencerusers>
                    <file>influencerusers.xml</file>
                </influencerusers>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<influencerusers>
				<use>admin</use>
				<args>
					<module>Masterajib_Influencerusers</module>
					<frontName>influencerusers</frontName>
				</args>
			</influencerusers>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<influencerusers module="influencerusers">
				<title>Influencerusers</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="influencerusers">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>influencerusers/adminhtml_influencerusers</action>
					</items>
				</children>
			</influencerusers>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Influencerusers>
							<title>Influencerusers Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Influencerusers>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<influencerusers>
					<file>influencerusers.xml</file>
				</influencerusers>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <influencerusers>
                <class>Masterajib_Influencerusers_Model</class>
                <resourceModel>influencerusers_mysql4</resourceModel>
            </influencerusers>
            <influencerusers_mysql4>
                <class>Masterajib_Influencerusers_Model_Mysql4</class>
                <entities>
                    <influencerusers>
                        <table>influencerusers</table>
                    </influencerusers>
                </entities>
            </influencerusers_mysql4>
        </models>
        <resources>
            <influencerusers_setup>
                <setup>
                    <module>Masterajib_Influencerusers</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </influencerusers_setup>
            <influencerusers_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </influencerusers_write>
            <influencerusers_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </influencerusers_read>
        </resources>
        <blocks>
            <influencerusers>
                <class>Masterajib_Influencerusers_Block</class>
            </influencerusers>
        </blocks>
        <helpers>
            <influencerusers>
                <class>Masterajib_Influencerusers_Helper</class>
            </influencerusers>
        </helpers>
    </global>
</config>