<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Accountactivity>
            <version>0.1.0</version>
        </Masterajib_Accountactivity>
    </modules>
    <frontend>
        <routers>
            <accountactivity>
                <use>standard</use>
                <args>
                    <module>Masterajib_Accountactivity</module>
                    <frontName>accountactivity</frontName>
                </args>
            </accountactivity>
        </routers>
        <layout>
            <updates>
                <accountactivity>
                    <file>accountactivity.xml</file>
                </accountactivity>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<accountactivity>
				<use>admin</use>
				<args>
					<module>Masterajib_Accountactivity</module>
					<frontName>accountactivity</frontName>
				</args>
			</accountactivity>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<accountactivity module="accountactivity">
				<title>Accountactivity</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="accountactivity">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>accountactivity/adminhtml_accountactivity</action>
					</items>
				</children>
			</accountactivity>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Accountactivity>
							<title>Accountactivity Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Accountactivity>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<accountactivity>
					<file>accountactivity.xml</file>
				</accountactivity>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <accountactivity>
                <class>Masterajib_Accountactivity_Model</class>
                <resourceModel>accountactivity_mysql4</resourceModel>
            </accountactivity>
            <accountactivity_mysql4>
                <class>Masterajib_Accountactivity_Model_Mysql4</class>
                <entities>
                    <accountactivity>
                        <table>accountactivity</table>
                    </accountactivity>
                </entities>
            </accountactivity_mysql4>
        </models>
        <resources>
            <accountactivity_setup>
                <setup>
                    <module>Masterajib_Accountactivity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </accountactivity_setup>
            <accountactivity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </accountactivity_write>
            <accountactivity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </accountactivity_read>
        </resources>
        <blocks>
            <accountactivity>
                <class>Masterajib_Accountactivity_Block</class>
            </accountactivity>
        </blocks>
        <helpers>
            <accountactivity>
                <class>Masterajib_Accountactivity_Helper</class>
            </accountactivity>
        </helpers>
    </global>
</config>