<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Linkanalysis>
            <version>0.1.0</version>
        </Masterajib_Linkanalysis>
    </modules>
    <frontend>
        <routers>
            <linkanalysis>
                <use>standard</use>
                <args>
                    <module>Masterajib_Linkanalysis</module>
                    <frontName>linkanalysis</frontName>
                </args>
            </linkanalysis>
        </routers>
        <layout>
            <updates>
                <linkanalysis>
                    <file>linkanalysis.xml</file>
                </linkanalysis>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
			<linkanalysis>
				<use>admin</use>
				<args>
					<module>Masterajib_Linkanalysis</module>
					<frontName>linkanalysis</frontName>
				</args>
			</linkanalysis>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<linkanalysis module="linkanalysis">
				<title>Linkanalysis</title>
				<sort_order>71</sort_order>               
				<children>
					<items module="linkanalysis">
						<title>Manage Items</title>
						<sort_order>0</sort_order>
						<action>linkanalysis/adminhtml_linkanalysis</action>
					</items>
				</children>
			</linkanalysis>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Masterajib_Linkanalysis>
							<title>Linkanalysis Module</title>
							<sort_order>10</sort_order>
						</Masterajib_Linkanalysis>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<linkanalysis>
					<file>linkanalysis.xml</file>
				</linkanalysis>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>
            <linkanalysis>
                <class>Masterajib_Linkanalysis_Model</class>
                <resourceModel>linkanalysis_mysql4</resourceModel>
            </linkanalysis>
            <linkanalysis_mysql4>
                <class>Masterajib_Linkanalysis_Model_Mysql4</class>
                <entities>
                    <linkanalysis>
                        <table>linkanalysis</table>
                    </linkanalysis>
                </entities>
            </linkanalysis_mysql4>
        </models>
        <resources>
            <linkanalysis_setup>
                <setup>
                    <module>Masterajib_Linkanalysis</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </linkanalysis_setup>
            <linkanalysis_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </linkanalysis_write>
            <linkanalysis_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </linkanalysis_read>
        </resources>
        <blocks>
            <linkanalysis>
                <class>Masterajib_Linkanalysis_Block</class>
            </linkanalysis>
        </blocks>
        <helpers>
            <linkanalysis>
                <class>Masterajib_Linkanalysis_Helper</class>
            </linkanalysis>
        </helpers>
    </global>
</config>