<?xml version="1.0"?>
<config>
    <modules>
        <Masterajib_Seotoolsaccountactivity>
            <version>0.1.0</version>
        </Masterajib_Seotoolsaccountactivity>
    </modules>
    <frontend>
        <routers>
            <seotoolsaccountactivity>
                <use>standard</use>
                <args>
                    <module>Masterajib_Seotoolsaccountactivity</module>
                    <frontName>seotoolsaccountactivity</frontName>
                </args>
            </seotoolsaccountactivity>
        </routers>
        <layout>
            <updates>
                <seotoolsaccountactivity>
                    <file>seotoolsaccountactivity.xml</file>
                </seotoolsaccountactivity>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <seotoolsaccountactivity>
                <class>Masterajib_Seotoolsaccountactivity_Model</class>
                <resourceModel>seotoolsaccountactivity_mysql4</resourceModel>
            </seotoolsaccountactivity>
            <seotoolsaccountactivity_mysql4>
                <class>Masterajib_Seotoolsaccountactivity_Model_Mysql4</class>
                <entities>
                    <seotoolsaccountactivity>
                        <table>seotoolsaccountactivity</table>
                    </seotoolsaccountactivity>
                </entities>
            </seotoolsaccountactivity_mysql4>
        </models>
        <resources>
            <seotoolsaccountactivity_setup>
                <setup>
                    <module>Masterajib_Seotoolsaccountactivity</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </seotoolsaccountactivity_setup>
            <seotoolsaccountactivity_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </seotoolsaccountactivity_write>
            <seotoolsaccountactivity_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </seotoolsaccountactivity_read>
        </resources>
        <blocks>
            <seotoolsaccountactivity>
                <class>Masterajib_Seotoolsaccountactivity_Block</class>
            </seotoolsaccountactivity>
        </blocks>
        <helpers>
            <seotoolsaccountactivity>
                <class>Masterajib_Seotoolsaccountactivity_Helper</class>
            </seotoolsaccountactivity>
        </helpers>
    </global>
</config>